@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

/* soft reset do css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Tira as Boras*/
}

body {
    background-image: url("../img/fundo.jpg");
    background-size: auto 100vh;
    font-family: 'Roboto Mono', monospace;
    height: 100vh;/* Tamanho da pagina total*/
    font-size: 12px;
}
/* se a tela tier pelo menos 400px vai carregar estilos */
/* @ significa regra para devida parte da pagina */
@media (min-width: 400px) {  
    body {
        font-size: 14px;
    }
}
/* breakpoint */ 
@media (min-width: 600px) {  
    body {
        font-size: 18px;
    }
}
/* breakpoint */
@media (min-width: 1200px) {
    body {
      font-size: 20px;
    }
  }

header {
    height: 100vh;
    display: flex; /* Cria colunas */
    justify-content: center;/* centralizar conteudo*/
    align-items: center;/* Centralinsar no centro*/
}


.menu {
    background-color: white;
    position: fixed; /* posição fixar */
    width: 100vw; /* toda largura */
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around; /* Justificar o Testo */
}

.menu li {
    list-style: none;
}
.menu a {
 display: block; /* usardo pra poder ajustar o tamanho do padding*/
 padding: 10px 20px;
 
}

a {
    text-decoration: none; /* Tirar a linha de baixo do testo */
    color: rgb(0, 0, 0);
    font-size: 25px;
}
a:hover {
    text-decoration: underline;
}

.site-title, 
.site-subtitle {
    text-align: center; /* Alinhar os texto */
    color: whitesmoke;
}

/* Deixar o tamanho da font automantica para grande e pequeno */
/* Unidades relativas em*/
.site-title {
    font-size: 4em;
    font-family: 'Yesteryear', cursive;
}

.site-subtitle {
    font-style: italic;
    font-family: 'Roboto Mono', monospace;
    line-height: 1.8em;/*Altura de linha */
    
}
.portfolio {
   /* background: pink;*/ 
    padding: 2em;
    height: 100vh;
}

.portfolio h2 {
    font-family: 'Roboto Mono', monospace;
    color: whitesmoke;
    margin-bottom: 1.5em; /*Margin um espaço para H1*/
    font-size: 2em; /* Tamanho a fonte */

}

.portfolio .grid {
display: grid; /* Criar Coluna ou Linha */
gap: 2em; /* Distanciar um objeto um do outro*/
}

/* Ajuste de tela */
@media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 250px 250px;/* Criando quantidade de colunas */
        }
}

@media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(3, 260px);/* Criando quantidade de colunas */
        align-content: center;
        justify-content: center; /* Centralizar todo o conteudo */
        height: calc(100vh - 8em  - 48px);
        }
}

.portfolio figure {
    text-align: center; /* Centralizar Fonte */
}

.img-portfolio {
    height: 180px;
    width: 250px;
    object-fit: cover ; /* Função de deixar todo o material do mesmo tamanho */ 
    object-position: left bottom;
    border-radius: 5%;
}

